<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468161130424-8bdeqm9eqkvrq4bpcu5ih7u0uqusa8a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468161130424-8bdeqm9eqkvrq4bpcu5ih7u0uqusa8a5</string>
	<key>API_KEY</key>
	<string>AIzaSyC7C6Fs0mqjqEqAji7EVFhSDNfTlyRc2NA</string>
	<key>GCM_SENDER_ID</key>
	<string>468161130424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-2cea4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-2cea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468161130424:ios:370cf382f9d73de03ea94d</string>
</dict>
</plist>